img {
  float: left;
  padding-top: 10px;
  padding-left: 20px;
}

.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 40px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  
}
input {
  width: 345px;
  height: 70px;
  background: #FFFFFF;
  outline: none;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  color: #000000;
  padding-left: 10px;
  padding-top: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  display: block;
}

span {
  position: absolute;
  top: 50px;
  color: gray;
  padding-left: 10px;
}

button {
  display: block;
  text-align: center;
  padding: 12px 18px;
  width: 250px;
  height: 50px;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
  margin: auto;
  cursor: pointer;
  background: linear-gradient(258.56deg, #FFB830 -8.37%, #FF8F28 79.14%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

